@font-face {
  font-family: "poppins";
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: semibold;
}

@font-face {
  font-family: "poppins";
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: "poppins";
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: regular;
}