*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1920px;
    width: 100%;
    border: 1px solid #00C9FF ;
    background-color: #C2C2C24D;
}
.north {
    max-width: 1642px;
    width: 100%;
    margin: auto;
    margin-top: 54px;
    margin-bottom: 55px;
}
.carlson {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-ul {
    display: flex;
    gap: 48px;
    color: #000000E5;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    font-weight: regular;
}
button {
    background-color: #29B24E;;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    padding-top:13px;
    padding-bottom: 13px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 12px;
    border: none;
}
.lupa {
    display: none;
}