@import "fonts.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1920px;
    width: 100%;
    border: 1px solid #00C9FF ;
    background-color: #C2C2C24D;
}
.north {
    max-width: 1642px;
    width: 100%;
    margin: auto;
    margin-top: 54px;
    margin-bottom: 55px;
}
.carlson {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-ul {
    display: flex;
    gap: 48px;
    color: #000000E5;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    font-weight: regular;
}
button {
    background-color: #29B24E;;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    padding-top:13px;
    padding-bottom: 13px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 12px;
    border: none;
}
.lupa {
    display: none;
}


.sector {
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 1642px;
    width: 100%;
    margin: auto;
    gap: 20px;
}
.western {
    max-width: 395px;
    width: 100%;
    background-color: #F8F8F8;
    border: none;
    border-radius: 24px;
    padding: 32px 32px;
}
.place {
    margin-bottom: 16px;
    font-weight: medium;
}
.proper {
    margin-bottom: 13px;
    font-weight: medium;
}
select {
    max-width: 331px;
    height: 48px;
    border: 1px solid #00C9FF;
    border-radius: 10px;
    margin-bottom: 32px;
    padding-left: 18px;
}
.form-row, .radio{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.prrange {
    margin-top: 39px;
    margin-bottom: 13px;
    font-weight: medium;
}
.eastern {
    max-width: 1227px;
    width: 100%;
    margin: auto;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}
.citizen {
    height: 100%;
}
.mincitizen {
    height: 100%;
    display: none;
}
.eastern h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    right: -11%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    letter-spacing: 0px;
    line-height: 72px;
    font-weight: semibold;
}
.eastern h4 {
    position: absolute;
    top: 17%;
    left: 35%;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    font-weight: regular;
}
.searcher {
    position: absolute;
    top: 25%;
    left: 36%;
    width: 324px;
}
.form-search input {
    width: 100%;
    height: 48px;
    border: 1px solid #00C9FF;
    border-radius: 10px;
    padding-left: 24px;
}

.sectorium {
    max-width: 1642px;
    width: 100%;
    margin: auto;
}
.trendiol {
    margin-top: 32px;
    margin-bottom: 20px;
}
.stend {
    background-color: #F8F8F8;
    border-radius: 24px;
    position: relative;
    max-width: 395px;
}
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(303px, auto);
    grid-template-rows: 424px 424px;
    gap: 20px;
}
.tester {
    padding-right: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 13px;
}

.tora {
    margin: auto;
    padding: 16px 16px;
}
.ctnamanga {
    margin-left: 20px;
}
.ctKajiado {
    margin-left: 20px;
    margin-top: 8px;
}
.price {
    margin-top: 15px;
    margin-bottom: 13px;
    margin-right: 10px;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #29B24E;
}
.lacon {
    max-width: 375px;
    padding-left: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.runner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: -235px;
}
.iframe {
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 11px 11px;
}
.describe {
    display: flex;
    gap: 63px;
    color: #000000;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
}
.vip {
    background-color: #29B24E;
    border-radius: 15px;
    position: absolute;
    color: #FFFFFF;
    padding: 6px 11px;
    top: 28px;
    left: 28px;
}

.foot {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: #29B24E;
    border-radius: 25px;
    margin-top: 120px;
}
.foot-top {
    max-width: 1642px;
    width: 100%;
    margin: auto;
}
.south {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1642px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}
.navbar-end {
    display: flex;
    gap: 48px;
    color: #FFFFFF;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
}
.line {
    align-items: center;
    max-width: 1642px;
    width: 100%;
    color: #D0D0D0;
}
.foot-end {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1642px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 40px;
}
.mail {
    color: #FFFFFF;
}

.suburb {
    max-width: 1920px;
    margin: auto;
    width: 100%;
    background-color: #42f2f5;
    margin-top: 72px;
    display: none;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1920px;
    width: 100%;
    border: 1px solid #00C9FF ;
    background-color: #C2C2C24D;
}

.about-north {
    max-width: 1640px;
    width: 100%;
    margin: auto;
    margin-top: 54px;
    margin-bottom: 55px;
}

.about-carlson {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-navbar-ul {
    display: flex;
    gap: 48px;
    color: #000000E5;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    font-weight: regular;
}
.watcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.about-sector {
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 1640px;
    width: 100%;
    margin: auto;
    gap: 44px;
}
.about-western {
    max-width: 810px;
    width: 100%;
}
.about-eastern {
    max-width: 786px;
    width: 100%;
    margin: auto;
}
.westeros {
    max-width: 746px;
    width: 100%;
    margin: auto;
}
.stark {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.targars {
    max-width: 618px;
    width: 100%;
    margin-top: 29px;
    margin-bottom: 40px;
}
.targars h2 {
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 33px;
    margin-bottom: 12px;
}
.targars h6 {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    margin-bottom: 32px;
}
.targars p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 23px;
}
.br-ul {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 24px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 23px;
}
.lanict {
    max-width: 746px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
}
.memphs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.money-cash {
    padding-right: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 13px;
}
.expansive {
    margin-top: 15px;
    margin-bottom: 13px;
    margin-right: 10px;
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 54px;
    color: #29B24E;
}
.vpn {
    background-color: #29B24E;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 6px 11px;
    top: 28px;
    left: 28px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 18px;
}
.cartage {
    color: #29B24E;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    padding-top:13px;
    padding-bottom: 13px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 12px;
    border: 1px solid #29B24E;
}
.caller {
    background-color: #29B24E;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    padding-top:13px;
    padding-bottom: 13px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 12px;
}
.about-sectorium {
    max-width: 1642px;
    width: 100%;
    margin: auto;
}
.about-trendiol {
    margin-top: 32px;
    margin-bottom: 20px;
}
.about-stend {
    background-color: #F8F8F8;
    border-radius: 24px;
    position: relative;
    max-width: 395px;
}
.about-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(303px, auto);
    grid-template-rows: 424px;
    gap: 20px;
}
.about-tester {
    padding-right: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 13px;
}

.about-tora {
    margin: auto;
    padding: 16px 16px;
}
.about-ctnamanga {
    margin-left: 20px;
}
.about-ctKajiado {
    margin-left: 20px;
    margin-top: 8px;
}
.about-price {
    margin-top: 15px;
    margin-bottom: 13px;
    margin-right: 10px;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #29B24E;

}
.about-lacon {
    max-width: 375px;
    padding-left: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.about-runner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: -235px;
}
.about-iframe {
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 11px 11px;
}
.about-describe {
    display: flex;
    gap: 63px;
    color: #000000;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
}
.about-vip {
    background-color: #29B24E;
    border-radius: 15px;
    position: absolute;
    color: #FFFFFF;
    padding: 6px 11px;
    top: 28px;
    left: 28px;
}
.about-foot {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: #29B24E;
    border-radius: 25px;
    margin-top: 120px;
}
.about-foot-top {
    max-width: 1642px;
    width: 100%;
    margin: auto;
}
.about-south {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1642px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}
.about-navbar-end {
    display: flex;
    gap: 48px;
    color: #FFFFFF;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
}
.about-line {
    align-items: center;
    max-width: 1642px;
    width: 100%;
    color: #D0D0D0;
}
.about-foot-end {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1642px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 40px;
}
.about-mail {
    color: #FFFFFF;
}
.about-suburb {
    max-width: 1920px;
    margin: auto;
    width: 100%;
    background-color: #42f2f5;
    margin-top: 72px;
    display: none;
}


@media (max-width: 768px) {
    header nav {
        display: none;
    }


    .container {
        flex-wrap: wrap;
        margin: auto;
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        border: 1px solid #00C9FF
    }

    .carlson {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    button {
        display: none;
    }

    .lupa {
        display: block;
        background-color: #FFFFFF;
        border-radius: 50%;
        padding: 13px 13px;
    }

    .sector {
        display: flex;
        flex-wrap: wrap-reverse;
        max-width: 375px;
        width: 100%;
        margin: auto;
        gap: 20px;
    }

    .eastern {
        max-width: 335px;
        width: 100%;
        margin: auto;
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .citizen {
        display: none;
    }

    .mincitizen {
        height: 100%;
    }

    .eastern h1 {
        position: absolute;
        top: 12%;
        left: 50%;
        right: -20%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        letter-spacing: 0px;
        line-height: 36px;
        font-weight: semibold;
    }

    .eastern h4 {
        position: absolute;
        top: 25%;
        left: 7%;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 21px;
        font-weight: regular;
    }

    .searcher {
        display: none;
    }

    .western {
        max-width: 375px;
        width: 100%;
        background-color: #F8F8F8;
        border: 1px solid #00C9FF;
        border-radius: 24px;
        padding: 24px 20px;
    }

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(424px, auto);
        grid-template-rows: 424px;
        gap: 20px;
    }

    .lacon {
        max-width: 335px;
        padding-left: 20px;
        margin-top: 24px;
        margin-bottom: 26px;
    }

    .describe {
        display: flex;
        gap: 50px;
        color: #000000;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 18px;
    }

    .supp {
        display: none;
    }

    .foot-top {
        max-width: 375px;
        width: 100%;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .south {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 375px;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .navbar-end {
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: #FFFFFF;
        align-items: center;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 24px;
    }

    .suburb {
        display: block;
        max-width: 375px;
        margin: auto;
        width: 100%;
        background-color: #FFFFFF;
        margin-top: 72px;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    .submarine {
        max-width: 375px;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F2F2F2;
    }

    .nelson {
        max-width: 375px;
        width: 100%;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #f5428d;
        border-radius: 24px 24px 0 0;
        background-color: #FFFFFF;
    }

    .nelson div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .seller img {
        background-color: #29B24E;
        padding: 17px;
        border-radius: 12px;
        margin-bottom: 5px;
    }

    .about-container {
        flex-wrap: wrap;
        margin: auto;
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        border: 1px solid #00C9FF
    }
    .about-carlson {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    button {
        display: none;
    }

    .about-lupa {
        display: block;
        background-color: #FFFFFF;
        border-radius: 50%;
        padding: 13px 13px;
    }

    .about-western {
        max-width: 375px;
        width: 100%;
        background-color: #F8F8F8;
        border: 1px solid #00C9FF;
        border-radius: 24px;
        padding: 24px 20px;
        padding-left: 10px;
    }
    .about-parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(424px, auto);
        grid-template-rows: 424px;
        gap: 20px;
    }

    .about-lacon {
        max-width: 335px;
        padding-left: 20px;
        margin-top: 24px;
        margin-bottom: 26px;
    }

    .about-describe {
        display: flex;
        gap: 50px;
        color: #000000;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 18px;
    }

    .about-supp {
        display: none;
    }

    .foot-top {
        max-width: 375px;
        width: 100%;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-south {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 375px;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .about-navbar-end {
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: #FFFFFF;
        align-items: center;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 24px;
    }

    .about-suburb {
        display: block;
        max-width: 375px;
        margin: auto;
        width: 100%;
        background-color: #FFFFFF;
        margin-top: 72px;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    .about-submarine {
        max-width: 375px;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F2F2F2;
    }

    .about-nelson {
        max-width: 375px;
        width: 100%;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #f5428d;
        border-radius: 24px 24px 0 0;
        background-color: #FFFFFF;
    }

    .about-nelson div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-seller img {
        background-color: #29B24E;
        padding: 17px;
        border-radius: 12px;
        margin-bottom: 5px;
    }


}
